# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5deb81e90a8882f591ad9b8ef9106bc0"
name = "ShipBy"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,write_orders,read_products,read_shipping"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
